//colors
$white: #fff;
$black: #000;
$orange: #dda046;
$grey:#f4f4f4;
$light:rgba(255, 255, 255, 0.6);
$btnGradient:linear-gradient(to bottom, #ffdc83 0%, #fbd26a 25%, #c17024 85%, #e3a548 100%);

$primaryColor: #445161;
$secondaryColor: #445162;
$textColor: #333333;

//fonts
$titleFont1: "robotobold";
$titleFont2: "robotoblack";
$mainFont: "robotoregular";
//$iconFont: "socialico";

//screens
$phone:"min-width: 425px";
$tablet: "min-width: 767px";
$desktop: "min-width: 1024px";
$laptopLarge: "min-width:1440px";

//shadows
$offerShadow:0 0 74px 0 rgba(39, 17, 10, 0.16);
$btnShadow:0 0 62px 0 #d3be88;
