.examples{
    background-color:$grey;
    padding-bottom: 6rem;
    &_title{
        @include h2();
        padding-top: 6rem;
        margin-bottom: 6rem;
    }
    &_content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:3px;
        &-img{
            width: 100%;
            height: 426px;
            @media($mobileLarge){
                width:425px;
            }
            @media($tablet){
                width:453px;
            }
        }
    }
}