.header {
    // background-color: $black;
    height:220px;

    @media($desktop){
        height: 150px;
    }
    
    &_wrapper{
        width: 100%;
        background-color: $black;
        display:flex;
        flex-direction: column;

        @media($desktop){
            height:210px;
            flex-direction: row;
        }
    }

    &_logo{
        @include h1($color: $white);
        margin-left: 6.3rem;
        margin-top: 1.8rem;

        @media($laptopLarge){
            margin-left: 15.3rem;
        }
    }
    &_contacts{
        display:flex;
        flex-direction: column;
        margin-top: 1.5rem;
        margin-left: 0;
        gap:1rem;

        @media($tablet){
            flex-direction: row;
            gap: 0;
            margin-left: 5rem;
            margin-top: 3.5rem;
        }
    }
    
}  