.offers{
    
    &_wrapper{
        background-color:$grey;
    }
    &_title{
        @include h2();
        padding-top: 6rem;
        
    }
    &_content{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 6rem;
        padding-bottom: 6rem;
        
     
    }
    
}