.advantage{
    display: flex;
    width: 100%;
    @media($tablet){
        width:400px;
    }
    &_images{
        position: relative;
        &-img{
            position: relative;
            display: block;
            width:60px;
            height:60px;
            z-index:4;
        }
        &-dot{
            position: absolute;
            background-color:$orange;
            border-radius:50%;
            height: 27.6px;
            width: 27.6px;
            top:10px;
            right: 0;
            z-index:0;
        }
    }
    &_content{
        margin-left: 2.2rem;
        &-title{
            @include h5();
        }

        &-text{
            @include p2();
            width:200px;
            @media($tablet){
                width: 300px;
            }
        }
    }

}