.contact{
   position: relative;
//    margin-left: -3rem;
    &_icon{
        position: absolute;
        top:-61px;
    }
    &_text{
        @include p1($white);
        margin-left: 10rem;
        width: 210px;
    }
}