.offer{

    width: 340px;
    height: 476px;
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-color:$light;
    box-shadow: $offerShadow;
    transition: background 0.5s;
           
    &_title{
        @include h4();
        width: 241px;
        margin-top: 4.4rem;
        margin-left: 3.2rem;
    }

    &_btn{
        @extend %btn;
        margin-left: 3.2rem;
        margin-bottom: 4.9rem;        
    }
        
    &_image{
        width:100%;
        height: 248px;
        display: block;
        object-fit:cover;
        object-position: center;
     
    }
    &_dot{
        position: absolute;
        top:30px;
        right:20.4px;
        background-color:$orange;
        border-radius:50%;
        height: 27.6px;
        width: 27.6px;
        transition: background 0.5s;
        }

    &:hover{
        background-color: #dda046;

        .offer_dot{
            background-color:$white;
        }
        }
    }
