@import "./utils";
@import "./components";
@import "./layout";

.container {
  width: 100%;
  max-width: 136.6rem;
  margin: 0 auto;
}
body{
  background: $white;
}
h1{
  @include h1();
}
p{
  font-family: $mainFont;
}
